# AWS
aws_region="us-east-1"
developer_power_users=["bilal"]
administrators=[]
billings=[]

# VPC
name=""
cluster_name=""
cidr="10.0.0.0/16"
azs=["us-east-1a"]
public_subnets=["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
private_subnets=["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]

# eks
create_eks=true

# grafana
grafana_user="pupil-labs"
grafana_password="pupil-labs"

# db
database_name="yourdatabasename"
database_user="yourdatabaseuser"
database_password="yourdatabasepassword"
database_port="5432"