# AWS
aws_region="us-east-1"

# VPC
name=""
cidr="10.0.0.0/16"
azs=["us-east-1a"]
public_subnets=["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
private_subnets=["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]

map_accounts=[
    "777777777777",
    "888888888888",
  ]
map_roles=[
    {
      rolearn  = "arn:aws:iam::66666666666:role/role1"
      username = "role1"
      groups   = ["system:masters"]
    },
  ]
map_users=[
    {
      userarn  = "arn:aws:iam::66666666666:user/user1"
      username = "user1"
      groups   = ["system:masters"]
    },
    {
      userarn  = "arn:aws:iam::66666666666:user/user2"
      username = "user2"
      groups   = ["system:masters"]
    },
  ]